html {
  min-height: 100vh;
}

body {
  font-family: "Figtree", sans-serif;
  margin: 0;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 80%;
  display: flex;
  flex: 1;
}

.header {
  display: flex;
  background-color: #ffffff;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  width: 100%;
  background-color: #003566;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  background-color: green;
  height: 200px;
}

.aside {
  width: 25%;
  padding: 15px;
}

.content {
  background-color: red;
  flex: 1;
}

.header-container,
.nav-container {
  width: 80%;
}

/* Brand */
.brand-container {
  display: flex;
  flex: 1;
}

.brand-logo {
  min-width: 250px;
}

.brand-logo img {
  width: 400px;
  height: 100%;
}

.brand-nav {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.brand-nav ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.brand-nav li a {
  padding: 8px 15px;
  background-color: #003566;
  color: #ffffff;
  transition: all 0.5s;
  border-radius: 4px;
  text-decoration: none;
}

.brand-nav li a:hover {
  background-color: #fdc500;
  color: #000000;
}

/* Nav */

.nav-container ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-container li {
  display: flex;
  align-items: center;
}

.nav-container li a {
  padding: 12px 15px;
  color: #ffffff;
  transition: all 0.5s;
  text-decoration: none;
}

.nav-container li a:hover {
  background-color: #001d3d;
}

.card {
  border: 1px solid #dadfe5;
  border-radius: 8px;
}

.card-header {
  padding: 18px 20px;
  border-bottom: 1px solid #dadfe5;
}

.card-header h3 {
  margin: 0px;
  font-weight: 500;
}

.card-body {
  padding: 18px 20px;
}

.card-footer {
  background-color: #fcfdfe;
  padding: 18px 20px;
  border-top: 1px solid #dadfe5;
}

.card-footer button {
  width: 100%;
  padding: 12px 0;
  background-color: #003566;
  border: 0px;
  border-radius: 4px;
  color: #ffffff;
  font-size: 11pt;
  font-weight: 600;
  transition: all 0.5s;
}

.card-footer button:hover {
  cursor: pointer;
  background-color: #fdc500;
  color: #000000;
}

/* Form */

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-container label {
  font-size: 10pt;
  font-weight: 600;
}

.input-container input,
.input-container select {
  background-color: #ffffff;
  border: 1px solid #dadfe5;
  border-radius: 4px;
  padding: 12px;
  transition: all 0.5s;
}

.input-container input:focus-visible {
  outline: none;
  border-color: #001d3d;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .aside {
    width: 100%;
  }
}
